[Unit]
Description=SPIFFE step-ca SSH Cleanup
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
ExecStart=rm -f /etc/ssh/sshd_config.d/50-spiffe-step-ssh.conf
Type=oneshot

[Install]
WantedBy=shutdown.target
